
@using VidlySept2018.Models
@model VidlySept2018.Models.Movie
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- METHOD 1 ACTION-->
<!-- old way of passing data in below-->
<!--  <h2>@Model.Name</h2>     -->

<!--METHOD 2 ACTION-->
<!-- new way below-->
<!-- much more confusing, -->
<!-- and also...if you change the name in the method... it is a string literal here so you need to remember to change it also-->
<!-- using statement required also at the top of the page-->
<!--<h2>@(((Movie)ViewData["Movie"]).Name)</h2> -->

<!--METHOD 3 ACTION-->
<!-- just as conusing as method 2-->
<h2> @ViewBag.RandomMovie </h2>

<!-- BEST OFF USING METHOD 1-->



